.slider-selection {
	background: #BABABA;
}
/* 
    Text fields 
*/
div.input-group-option:last-child span.input-group-addon-remove{
    display: none;
}

div.input-group-option:last-child input.form-control{
    border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove{
	cursor: pointer;
}

div.input-group-option{
    margin-bottom: 3px;
}

/* 
    Selects 
*/

div.input-group-multiple-select:last-child span.input-group-addon-remove{
	display: none;
}

div.input-group-multiple-select:last-child input.form-control{
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

div.input-group-multiple-select span.input-group-addon-remove{
	cursor: pointer;
    background: none;
    border: none;
}

div.input-group-multiple-select{
    margin-bottom: 5px;
}
.budget-range .label-left {
    position: absolute!important;
    margin-top: 20px!important;
}

.budget-range .label-right {
    position: absolute!important;
    right:0;
}
.budget-range .slider.slider-horizontal {
    width: 100% !important;
}

.budget-range .slider-handle {
    background: darkgreen;
}

.budget-range .slider-selection {
    background-color: seagreen;
}

.budget-range{
    margin-bottom: 50px;
}

.budget-range .control-label {
 margin-bottom: 30px;   
}
